
 * {
                margin: 0;
                padding: 0;
            }



body {
  background-color: #000;
  color: #fff;
}

.boxText{
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  white-space: nowrap;
  background-position: 50% 50%;
  background-repeat: repeat;
  text-align:center;
  text-transform: uppercase;
  font: 26vmax/.85 Open Sans, impact;
}
            .fly-in-text {
                list-style: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            .fly-in-text li {
                display: inline-block;
                margin-right: 50px;
                margin-bottom: 150px;
                opacity: 1;
                transition: all 2s ease;
            }
            .fly-in-text li:last-child {
                margin-right: 0;
            }
            .fly-in-text.hidden li {
                opacity: 0;
            }
            .fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
            .fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
            .fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
            .fly-in-text.hidden li:nth-child(4) { transform: translateX(40px) translateY(-120px); }

            
            
.cuadradoGrande{
  width: 150px;
  height: 60px;
  background-color: #000;
   border: 3px solid #ff0;
   margin-top: 190px;
}

#entrar{
  font-family: 'Anton', sans-serif;
  color: #ff0;
  position: absolute;
  margin-top: 15px;
  margin-left: 47px;
  font-size: 130%;
  text-decoration: none;
}

  #entrar:hover{  
    text-decoration: underline;
  }

.header {
 display: inline-block;
 color: white;
 font-size: 60px;
 margin-top: 80px;
 margin-left: 530px;
font-family: Open Sans, impact;
}
.header2 {
 display: inline-block;
 font-family: Open Sans, impact;
 color: white;
 font-size: 60px;
 margin-top: 80px;
 margin-left: 570px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  background: #000;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
  font-family: 'Anton', sans-serif;
  color: #ff0;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ff0;
  background-color: #000;
  color: white;
  font-family: 'Anton', sans-serif;
}

.btn {
  font-family: 'Anton', sans-serif;
  width: 100px;
  position: absolute;
  margin-top: 20px;
  margin-left: 170px;
  padding: 10px;
  font-size: 15px;
  color: #ff0;
  background: #000;
  border: 3px solid #ff0;
  
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

#redirigeR{
  position: absolute;
  margin-top: 90px;
  color: #ff0;
  font-family: 'Anton', sans-serif;
 }

#registrateL{
  color: white;
}

#registrateL:hover{
  color: red;
}